@font-face {
    font-family: "Roboto-Regular";
    src: url('https://cdn.shopify.com/s/files/1/0590/4354/5140/files/Roboto-Regular.ttf?v=1666189600') format("opentype");
   }




body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background: #e8e8ea;
    color: #000;
    font-family: "Roboto-Regular";
}

.metatrading4Licenses-page-os {
    position: relative;
}

.pl-0-os {
    padding-left: 0 !important;
}

.pr-0-os {
    padding-right: 0 !important;
}
.ml-0-os {
    margin-left: 0 !important;
}

.mr-0-os {
    margin-right: 0 !important;
}

.border-0-os {
    border: none !important;
}

/* Header starts */
.header-os .header-data-os {
    display: flex;
	flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.header-os .valeria-image-os img {
    max-width: 20px;
}
.header-os .valeria-mishchenko-login-os {
    display: flex;
    align-items: center;
}
.header-os {
    background: #1E1F24;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    display: none;
}
.container-os {
    padding: 0;
}
.header-os .valeria-mishchenko-login-os select {
    border: none;
    padding: 8px;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.header-os .valeria-mishchenko-login-os select option {
    background: #1E1F24;
}
select:focus-visible, input:focus-visible {
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
.header-os .valeria-image-os {
    display: flex;
    background: #fff;
    border-radius: 11px;
}
/* Header ends */



/* Left navbar starts */
.left-navbar-data-os ul {
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
}
.left-navbar-links-os {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;

}

.left-navbar-data-os ul li a {
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
	font-family: "Roboto-Regular";
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.left-navbar-data-os ul li a>div {
    min-width: 48px;
    display: flex;
}
.left-navbar-data-os ul li a img {
    width: 24px;
    height: 24px;
}
.left-navbar-data-os ul li a .brokerIcon img {
    width: 20px !important;
    height: 20px !important;
}
.left-navbar-data-os ul li {
    margin-bottom: 4px;
    padding: 8px 12px;
}
.navbar-link-active {
    background: #363636;
    border-radius: 8px;
}
.left-navbar-os {
    background: #1E1F24;
    width: 20%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
}

.side-navbar-header-os #account-login {
    border: none;
    padding: 8px;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    width: 100%;
}
.navbar-account-selector-os .account-welcome-os {
    display: flex;
    justify-content: center;
    color: #ababab;
    font-size: 14px;
    line-height: 18px;
}
.navbar-account-selector-os .account-name-os {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.side-navbar-header-os #account-login option {
    background: #1E1F24;
}
.side-navbar-header-os .valeria-image-os img {
    padding: 4px;
    border: 2px solid #56f694;
    border-radius: 50%;
}
.side-navbar-header-os .valeria-image-os {
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-navbar-header-os .header-brand-os a img {
    width: 145px;
    height: auto;
}
.side-navbar-header-os .header-brand-os {
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-navbar-header-os .header-brand-os a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.58rem;
}
.navbar-account-selector-os {
    margin: 1.5rem 0 2.5rem;
}

.admin-heading-data-os>div {
    font-size: 22px;
    line-height: 24px;
    font-family: "Roboto-Regular";
    font-weight: 600;
}
.admin-current-pageNo-os {
    color: #ababab;
}
.admin-heading-data-os {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #ddd;
}
/* Left navbar ends */


/*------Right Tab Starts------*/

section.right-content-os .tab_source h2.tab_head span > img {
    width: auto;
    height: 30px;
    float: left;
}
section.right-content-os .tab_source h2.tab_head div > img {
    width: auto;
    height: 30px;
    float: left;
}
section.right-content-os .tab_source h2.tab_head div {
    padding: 4px;
    background: #d9d7d7;
    border-radius: 6px;
}
section.right-content-os .tab_source h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.space {
    justify-content: space-between;
    padding: 1rem;
    background: #1E1F24;
    color: #fff;
    border-radius: 8px 8px 0 0;
}
section.right-content-os .tab_source h2 > p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: "Roboto-Regular";
}
section.right-content-os .tab_source .metaTrading-card-heading-os {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    font-family: "Roboto-Regular";
}
.green{
	color:#56f694;
}
section.right-content-os .tab_box .tab_btn a span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-family: "Roboto-Regular";
    color: #333;
}
section.right-content-os .tab_row .tab_inner_col {
    max-width: 18%;
    width: 100%;
    box-shadow: 0 0 10px #777777;
    border-radius: 8px;
    background: #fff;
}
section.right-content-os .tab_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem 0;
}
section.right-content-os {
    max-width: 80%;
    margin-left: auto;
}
.metaLicenses-right-data-os-new {
    padding: 2rem;
}
section.right-content-os .col-img {
    padding: 1.5rem 1rem;
    background: #363636;
    min-height: 160px;
}
.unfilled-card-os {
    background: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unfilled-card-os .tab_screen_img {
    max-width: 80px !important;
    height: 80px;
}
.days-left-new-os>div:nth-child(1) {
    font-size: 14px;
    line-height: 18px;
    color: #34f1df;
    font-family: "Roboto-Regular";
    font-weight: 600;
    text-align: center;
}
.days-left-new-os {
    padding-top: 12px;
}
.days-left-new-os>div:nth-child(2)>span {
    display: flex;
    align-items: center;
    color: #34f1df;
}
.days-left-new-os>div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
}
.card-owned-btn-os button {
    border: none;
    background: #34f1df;
    border-radius: 4px;
    padding: 0;
    max-width: 100px;
    width: 100%;
    height: 24px;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    font-family: "Roboto-Regular";
    font-weight: 600;
}
.card-owned-btn-os button:hover {
    opacity: 0.8;
}
section.right-content-os .tab_row .tab_col .tab_box .tab_screen_img {
    padding: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
}
section.right-content-os .tab_row .tab_col .tab_box .download {
}
section.right-content-os .tab_row .tab_col .tab_box a {
    text-decoration: none;
    padding: 4px 1rem;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-family: "Roboto-Regular";
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}
.trial-expired-os>div>span {
    color: #cdcdcd !important;
}
section.right-content-os .tab_row .tab_col .tab_box a:hover {
    opacity: 0.8;
}
section.right-content-os .tab_row .tab_col .tab_box .tab_btn {
    padding: 8px 0;
}
section.right-content-os .tab_row .tab_col .tab_box .tutorial {
    background: #fff;
	display: flex;
    flex-wrap: wrap;
}
section.right-content-os .tab_row .tab_col .tab_box .telegram {
    background: #fff;
	display: flex;
    flex-wrap: wrap;
}
section.right-content-os .tab_row .tab_col .tab_box {
    width: 100%;
}
section.right-content-os .mob-screen img {
    padding: 0 !important;
    max-height: 320px !important;
	border-radius:30px 30px 0 0;
}
section.right-content-os .tab_box .tab_btn>a>div>img {
    width: 20px;
}
.tab_col_btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
/*------Right Tab ends------*/



/* MetaTrading4 Licenses Page starts */
.metaLicenses-right-content-os {
    width: 80%;
    background: #E8E8EA;
    margin-left: auto;
}
.metaLicenses-right-data-os {
    padding: 2rem;
}
.metatrandingLicenses-nav-allcontent {
    display: flex;
    justify-content: center;
    position: relative;
}
.metaLicenses-heading-os>h2 {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Roboto-Regular";
    font-weight: 600;
}
.metaLicenses-heading-os>div>img {
    width: auto;
    height: 30px;
    float: left;
}
.metaLicenses-heading-os {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; 
}
.metaLicenses-heading-os>div {
    padding: 4px;
    background: #d9d7d7;
    border-radius: 6px;
}
.metaLicenses-cardData-heading-os {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
    padding: 1rem;
    margin: 0;
    background: #1E1F24;
    border-radius: 6px 6px 0 0;
}
.metaLicenses-cardData-heading-os>div>img {
    width: auto;
    height: 28px;
    display: flex;
}
.metaLicenses-cardData-heading-os h2 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: "Roboto-Regular";
    font-weight: 600;
    color: #fff;
}

.metaLicenses-cardData-1-os {
    width: 18.7%;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 19%);

}
.add-license-os {
    background: #fff;
}

.remove-license-os {
    background: #fff;
}
.metaLicenses-card-buttons-os a {
    font-size: 14px;
    line-height: 18px;
    font-family: "Roboto-Regular";
    font-weight: 600;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
}
.metaLicenses-card-buttons-os {
    margin: 0 1rem;
    border-top: 1.5px solid #e1e1e1;
    padding: 8px 0;
}
.metaLicenses-card-buttons-os a:hover {
    opacity: 0.8;
}
.metaLicenses-card-buttons-os a>div {
    display: flex;
    align-items: center;
}
.metaLicenses-card-buttons-os a>div img {
    width: 20px;
    height: 20px;
}
.metaLicenses-card-1-os {
    padding: 0;
}

.metaLicenses-card-reg-no-os li {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-family: "Roboto-Regular";
    font-weight: 400;
    cursor: pointer;
    position: relative;
    color: #4e4e4e;
}

.metaLicenses-card-reg-no-os {
    min-height: 190px;
    padding: 1rem 0 1rem;
    margin: 0;
    overflow-y: auto;
    list-style: num !important;
    background: #fff;
}
.unfilledCardImg-os {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}
.metaLicenses-cardData-row-os {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 20px;
    margin: 1.5rem 0 2rem;
    position: relative;
}
.metaLicenses-card-1-os>h3 {
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    font-family: "Roboto-Regular";
    font-weight: 400;
    background: #d3cdd3;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 0 1rem;
}
.metaLicenses-card-1-os h3>span {
    color: #0cd3c0;
    font-family: "Roboto-Regular";
    font-weight: 600;
}
.metaLicenses-card-inner-dat-os {
    background: #fff;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
    position: relative;
}
.remove-license-os-1 {
    background: #fff;
}
.trial-expired-os {
    color: #cdcdcd !important;
}
.no.detail-bg-os {
    background: #fff;
}

.metaLicenses-card-reg-no-os li:before {
    content: 'copied';
    font-size: 12px;
    position: absolute;
    right: 18px;
    display: none;
}

.mobile-link-os {
    display: none;
}
.trial-days-left-os {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding-right: 12px;
}
.trial-days-left-os span {
    color: #0cd3c0;
}
.trial-days-left-os>div {
    font-family: "Roboto-Regular";
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}
.new-list-os.new-list-os-active .days-left-data-os>span {
    color: #000;
}
.new-list-os.new-list-os-active .days-left-data-os div svg g {
    stroke: #000;
}
.new-list-os.new-list-os-active .days-left-data-os div svg g path {
    stroke: #000;
}
.days-left-data-os>div>img {
    display: flex;
    width: 12px;
}
.days-left-data-os {
    display: flex;
    align-items: center;
    gap: 4px;
}

.new-list-os {
    padding: 8px 1.5rem 0;
    margin: 0 12px 4px;
    height: 24px;
}
.new-list-os-active {
    background: #34f1df;
    border-radius: 4px;
}
.metaLicenses-card-reg-no-os li::marker {
    color: #ababab;
}
.new-list-os.new-list-os-active li {
    font-weight: 600;
    color: #000;
}
.new-list-os.new-list-os-active li::marker {
    font-weight: 600;
    color: #000;
}
.mobile-brand-icon-os {
    display: none;
}

.popupClose-icon-os svg {
    width: 14px;
    height: 14px;
    display: flex;
}
.popupClose-icon-os {
    display: flex;
    justify-content: flex-end;
}

/* MetaTrading4 Licenses Page ends */


/* StartYourTrialHere Page style starts */

/* Form Styling starts */
.signup-checkbox-os a {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 119.5%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #7171db;
    text-decoration: none;
}

.signup-checkbox-os a:hover {
    text-decoration: underline;
}

.signup-checkbox-os {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-form-heading {
    text-align: center;
    padding-bottom: 2rem;
}

.login-form-heading h1 {
    font-family: "Roboto-Regular";
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    margin: 0;
    padding-bottom: 2rem;
}
.login-form-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 0 auto;
    font-family: "Roboto-Regular";
    width: 80%;
}

.login-form-data-os {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #1E1F24;
    border-radius: 0 0 8px 8px;
    padding: 1rem 12px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    box-sizing: border-box;
}

.login-form-os .form-label {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding-bottom: 8px;
}

.login-form-os input {
    background: #fff;
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 25px;
    padding: 4px 8px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    font-family: "Roboto-Regular";
    font-weight: 400;
    color: #000;
}

.login-form-os {
    padding-bottom: 1rem;
}

.login-btn-os button {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000;
    border: none;
    max-width: 80px;
    width: 100%;
    background: #5FFDAA;
    border-radius: 4px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.login-form-section-os {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 255px;
    display: none;
}

.singup-accounts-os {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.singup-accounts-os a {
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    border-radius: 30px;
    margin: 0.5rem;
}

.singup-accounts-os a>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.singup-accounts-os a img {
    max-width: 28px;
    height: 28px;
}

.login-account-os P {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 8px;
    margin: 0;
    text-align: center;
}
.login-form-os input::placeholder {
    color: #bdbdbd;
}

.popUp_show {
    display: block;
}
.popUp_hide {
    display: none;
}
/* Form Styling ends */

.StartYourTrialHere-nav-allcontent {
    display: flex;
    background: #1E1F24;
    position: relative;
}
.StartYourTrialHere-form-os {
    width: 85%;
    background: #fff;
    border-radius: 10px;
    margin-left: auto;
    position: relative;
    top: 4.6rem;
}
.cross-btn-os {
    display: flex;
    width: max-content;
    margin-left: auto;
    cursor: pointer;
}
.StartYourTrialHere-form-data-os {
    padding: 1rem 1.5rem 1.5rem;
}
.cross-btn-os svg {
    width: 20px;
    height: 20px;
}

/* StartYourTrialHere Page style ends */




@media screen and (max-width:1600px) {
	section.right-content-os .tab_source h2.tab_head span > img {
		height: 26px;
	}
    section.right-content-os .tab_source h2.tab_head div > img {
        height: 26px;
    }
}

@media screen and (max-width:1440px) {
    .metaLicenses-card-1-os {
        padding: 0;
    }
    .login-btn-os button {
        padding-bottom: 2px;
    }
}

@media screen and (max-width:1400px) {
	section.right-content-os .tab_row  .tab_inner_col {
		max-width: 22.8%;
	}	
	section.right-content-os .tab_row {
		padding: 1.5rem 0;
	}
    .metaLicenses-cardData-1-os {
        width: 23%;
    }
}

@media screen and (max-width:1199px) {
	section.right-content-os .tab_row  .tab_inner_col {
		max-width: 29.5%;
		margin-bottom: 2rem;
	}
	.left-navbar-os {
		width: 25%;
	}
	section.right-content-os {
		width: 75%;
	}
    .metaLicenses-cardData-1-os {
        width: 31%;
    }
    .metaLicenses-right-content-os {
        width: 75%;
    }
    .StartYourTrialHere-form-os {
        width: 75%;
    }
}
@media screen and (max-width:991px) {
	section.right-content-os .tab_row  .tab_inner_col {
		max-width: 29.5%;
	}
	section.right-content-os .tab_source h2.tab_head span > img {
		height: 24px;
	}
    section.right-content-os .tab_source h2.tab_head div > img {
        height: 24px;
    }
	section.right-content-os .tab_source h2 > p {
		font-size: 14px;
		line-height: 18px;
	}
    .left-navbar-data-os ul {
        padding: 1rem;
    }
    .metaLicenses-cardData-1-os {
        width: 48%;
    }
}

@media screen and (max-width:768px) {
    .metaLicenses-right-content-os {
        padding-top: 4rem;
        width: 100%;
    }
    .metaLicenses-right-data-os {
        padding: 1.5rem;
    }
    .left-navbar-os {
		width: 100%;
        min-height: unset;
        height: auto;
        top: 0px;
    }
	section.right-content-os .tab_row .tab_inner_col {
		max-width: 48%;
		justify-content: center;
	}
	section.right-content-os {
		width: 100%;
        max-width: 100%;
	}
    .metatrandingLicenses-nav-allcontent {
        
        flex-wrap: wrap;
    }
    .mobile-toggle-button-os {
        background: #1E1F24;
        padding: 0 1.5rem;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    .side-navbar-header-os .header-brand-os {
        display: none;
    }
    .mobile-brand-icon-os a img {
        max-width: 145px;
        width: 100%;
        height: auto;
        display: flex;
    }
    .mobile-brand-icon-os {
        display: block;
    }
    .mobile-brand-icon-os {
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .mobile-toggle-lines>div {
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
    }
    .hide {
        display: none;
    }
    .line-1-rotate-os {
        transform: rotate(45deg) translate(1px, 2px);
        transition: 0.2s;
    }
    .line-2-rotate-os {
        transform: rotate(-45deg) translate(0px, -2px);
        transition: 0.2s;
    } 
    
    .mobile-toggle-lines {
        width: max-content;
        position: relative;
        z-index: 4;
    }
    .line-2-os {
        margin: 5px 0;
    }
    .left-navbar-links-os {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transform: translateX(-101%);
        position: absolute;
        z-index: 11;
        background: #1E1F24;
        width: 100%;
        transition: 0.3s;
        padding: 1rem 1.5rem;
        box-sizing: border-box;
    }
    .left-navbar-data-os-ul-active {
        transform: translateX(0%) !important;
    }
    .header-brand-os>a>img {
        max-width: 190px;
        display: flex;
    }
    .header-os .valeria-mishchenko-login-os select {
        font-size: 14px;
        line-height: 18px;
    }
    .StartYourTrialHere-form-os {
        width: 100%;
    }
    .mobile-link-os {
        display: block;
    }
    .desktop-link-os {
        display: none;
    }
    .metaLicenses-right-data-os-new {
        padding: 5rem 1.5rem 2rem;
    }
    section.right-content-os .tab_row {
        padding: 1.5rem 0;
    }
    .left-navbar-data-os ul {
        padding: 0;
    }
    section.right-content-os .tab_row .tab_col .tab_box .tab_btn {
        padding: 1rem 0;
    }
}

@media screen and (max-width:576px) {
    .metaLicenses-cardData-1-os {
        width: 100%;
    }
    .metaLicenses-cardData-1-os:last-child {
        padding-bottom: 0;
    }
    .metaLicenses-cardData-row-os {
        padding: 0;
    }
    .metaLicenses-right-content-os {
        padding-top: 4.5rem;
    }
    .metaLicenses-right-data-os {
        padding: 0 1rem;
    }
    .metaLicenses-card-1-os {
        padding: 0;
    }
    .mobile-toggle-lines>div {
        width: 24px;
        height: 3px;
    }
    .mobile-toggle-button-os {
        padding: 0 1rem;
    }
    .left-navbar-data-os ul li a {
        font-size: 14px;
        line-height: 18px;
        padding: 0;
    }
    .header-brand-os>a>img {
        max-width: 150px;
    }
    .left-navbar-data-os ul {
        padding: 0;
    }
    .header-os .header-data-os {
        padding: 12px 0;
    }
    .line-1-rotate-os {
        transform: rotate(45deg) translate(1px, 2px);
    }
    .admin-heading-data-os>div {
        font-size: 18px;
        line-height: 24px;
    }
    .metaLicenses-heading-os>h2 {
        font-size: 16px;
        line-height: 20px;
    }
    .line-2-os {
        margin: 4px 0;
    }
    section.right-content-os .tab_row .tab_inner_col {
		max-width: 100%;
	}
    section.right-content-os .tab_row {
        padding: 1.5rem 0;
    }
    .metaLicenses-right-data-os-new {
        padding: 4.5rem 1rem 2rem;
    }
    .left-navbar-links-os {
        padding: 1rem;
    }
    section.right-content-os .tab_source .metaTrading-card-heading-os {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        font-family: "Roboto-Regular";
    }
    section.right-content-os .tab_row .tab_inner_col {
        margin-bottom: 0;
    }
}

@media screen and (max-width:414px) {	
	section.right-content-os .tab_row .tab_col {
		max-width: 100%;
	}	
}